/*	................................................................................
 *  style.css
 *	Style Sheet for BakeOff2:
 *  Written by: Daniel Fong, Mark Chen, Riyya Hari Iyer
 *  Date Created: 10/15/2019
 *  Last Modified: 11/27/2019
 *	................................................................................
 */
/* --- head CSS settings --- */
head {
  background-color: lightgray; 
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

/* --- body CSS settings --- */
body {
  background-color: lightgray; 
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/static/assets/food-vector-pattern.jpg');
  background-size: 400px;

}

/* --- Common html CSS settings --- */
/* Web Header Tab */
.tabcontent {
  color: white;
  display: none;
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
}

#Food {background-image: linear-gradient(to bottom right, lightcoral, crimson)}
#History {background-image: linear-gradient(to bottom right, gold, darkorange)}
#Track {background-image:linear-gradient(to bottom right, turquoise, lightseagreen)}
#Preference {background-image:linear-gradient(to bottom right, skyblue, dodgerblue)}

/* Web Navigation Tabs */
.tablink {
  background-color: #555555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  font-size: 16px;
  width: 25%;
}

.tablink:hover {
  background-color: #777777;
}


/* Notification Box */
#search-alert {
  text-align: center;
  margin-left:auto; 
  margin-right:auto;
  margin-bottom: 0;
  width: 75vw;
  padding: 20px;
  color: white;
  background-color: #f44336;
}

#history-alert {
  text-align: center;
  margin-left:auto; 
  margin-right:auto;
  margin-bottom: 0;
  width: 75vw;
  padding: 20px;
  color: white;
  background-color: #ff9800;
}

#track-alert {
  text-align: center;
  margin-left:auto; 
  margin-right:auto;
  margin-bottom: 0;
  width: 75vw;
  padding: 20px;
  color: white;
  background-color: #4CAF50;
}

#preference-alert {
  text-align: center;
  margin-left:auto; 
  margin-right:auto;
  margin-bottom: 0;
  width: 75vw;
  padding: 20px;
  color: white;
  background-color: #2196F3;
}


/* Table */
td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: lightgray;
}



/* --- index.html CSS settings --- */
/* Search Box */
.search-container {
  text-align: center;
  margin: auto;
}

.search-container input[type=text] {
  font-size: 18px;
  width: 50vw;
  padding: 10px;
  border: none;
  box-shadow: inset 0px 0px 5px lightgray;
}

.search-container button {
  font-size: 18px;
  width: 5vw;
  padding: 10px;
  background: lightgray;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: silver;
}


/* Nutrition Fact Board */
.food-fact-container {
  text-align: left;
  margin: auto;
  width: 90vw;
  height: 80vh;
  background-color: white;
  border-radius: 6px;
  border-style: solid;
  border-color: wheat;
}

.food-fact-container #meal-time {
  font-size: 16px;
  width: 15vw;
  padding: 10px;
  margin: 10px 5px 20px 5px;
  border: none;
  box-shadow: inset 0px 0px 5px lightgray;
  cursor: pointer;
}

.food-fact-container #datepicker {
  font-size: 16px;
  width: 20vw;
  padding: 10px;
  margin: 10px 10px 20px 5px;
  border: none;
  box-shadow: inset 0px 0px 5px lightgray;
  cursor: pointer;
}

.food-fact-container button {
  font-size: 16px;
  width: 5vw;
  padding: 10px;
  background: lightgray;
  border: none;
  cursor: pointer;
}

.food-fact-container button:hover {
  background: silver;
}

#foods-container {
  text-align: center;
  width: 50vw;
  margin: 0px 1vw 0px 1vw;
  float: left;
}


#result-container{
  width: 60vw;
  border-collapse: collapse;
  overflow: auto;
}

#nutrition-facts {
  text-align: left;
  padding: 10px;
  width: 20vw;
  height: auto;
  margin: 2vh 2vw 0vh 0vw;
  float: right;
}



/* --- history.html CSS settings --- */
/* Food History Table */
.history-container {
  text-align: center;
  margin: auto;
  width: 90vw;
  background-color: white;
  border-radius: 6px;
  border-style: solid;
  border-color: wheat;
}

.meal {
  text-align: center;
  width: 80vw;
  margin-left:auto; 
  margin-right:auto;
  margin-bottom: 2vh;
  border-collapse: collapse;
  overflow: auto;
}



/* --- track.html CSS settings --- */
.chart-container {
  text-align: center;
  height: 50vh; 
  width: 80vw;
  margin: auto;
}

#chart-type {
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  width: 30vw;
  border: none;
  box-shadow: inset 0px 0px 5px lightgray;
  margin-bottom: 10px;
}

#nutrition-chart {
  background-color: white;
  border-radius: 6px;
  border-style: solid;
  border-color: wheat;
}




/* --- preference.html CSS settings --- */
#preference-wrapper {
  overflow: auto;
}

/* Body Info Board */
.userInfo-container {
  height: 100vh;
  text-align: left;
  width: 30%;
  box-sizing: border-box; 
  background-color: white;
  border-radius: 6px;
  border-style: solid;
  border-color: wheat;
  margin-left: 1.5vw;
  margin-bottom: 1vw;
  margin-right: 1.5vw;
  float:left; 
}
.userInfo-container h3 {
  text-align: center;
}
.userInfo-container label {
  margin-left: 1.5vw;
  margin-bottom: 1vw;
}
.userInfo-container select, input {
  font-size: 16px;
  width: 10vw;
  min-width: 100px;
  cursor: pointer;
  padding: 10px;
  border: none;
  box-shadow: inset 0px 0px 5px lightgray;
  margin-left: 0.5vw;
  margin-bottom: 1vw;
}
.userInfo-container button {
  text-align: center;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  width: 120px;
  border: none;
  background: lightgray;
  margin: auto;
  margin-bottom: 1vw;
  display: block;
}

/* Daily Reference Intake Board */
.plan-container {
  height: 100vh;
  text-align: left;
  width: 30%;
  box-sizing: border-box; 
  background-color: white;
  border-radius: 6px;
  border-style: solid;
  border-color: wheat; 
  margin-left: 1.5vw;
  margin-bottom: 1vw;
  margin-right: 1.5vw;
  display: inline-block;
}
.plan-container h3 {
  text-align: center;
}
.plan-container label {
  margin-bottom: 1vw;
  margin-left: 1.5vw;
}
.plan-container input {
  font-size: 16px;
  width: 10vw;
  min-width: 100px;
  cursor: pointer;
  padding: 10px;
  border: none;
  box-shadow: inset 0px 0px 5px lightgray;
  margin-left: 0.5vw;
  margin-bottom: 1vw;
}
.plan-container button {
  text-align: center;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  width: 150px;
  border: none;
  background: lightgray;
  margin: auto;
  margin-bottom: 1vw;
  display: block;
}



/* Nutrient Cutoff Board */
.cutoff-container {
  height: 100vh;
  text-align: left;
  width: 30%;
  box-sizing: border-box; 
  background-color: white;
  border-radius: 6px;
  border-style: solid;
  border-color: wheat;
  margin-left: 1.5vw;
  margin-bottom: 1vw;
  margin-right: 1.5vw;
  float:right; 
}
.cutoff-container h3 {
  text-align: center;
}
.cutoff-container label {
  margin-bottom: 1vw;
  margin-left: 1.5vw;
}
.cutoff-container input {
  font-size: 16px;
  width: 10vw;
  min-width: 100px;
  cursor: pointer;
  padding: 10px;
  border: none;
  box-shadow: inset 0px 0px 5px lightgray;
  margin-left: 0.5vw;
  margin-bottom: 1vw;
}
.cutoff-container button {
  text-align: center;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  width: 150px;
  border: none;
  background: lightgray;
  margin: auto;
  margin-bottom: 1vw;
  display: block;
}

.micronutrient-rules-container {  
  text-align: left;
  width: 100%;
  height: 80vh;
  box-sizing: border-box; 
  background-color: white;
  border-radius: 6px;
  border-style: solid;
  border-color: wheat;
  margin-left: .5vw;
  margin-bottom: 1vw;
  margin-right: 1.5vw;
  margin: auto;
}
.micronutrient-rules-container h3 {
  text-align: center;
}
.micronutrient-rules-container label {
  margin-bottom: 1vw;
  margin-left: 1.5vw;
}
.micronutrient-rules-container button {
  text-align: center;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  width: 150px;
  border: none;
  background: lightgray;
  margin: auto;
  margin-bottom: 1vw;
  display: block;
}
.micronutrient-rules-container select, input {
  font-size: 16px;
  width: 10vw;
  min-width: 100px;
  cursor: pointer;
  padding: 10px;
  border: none;
  box-shadow: inset 0px 0px 5px lightgray;
  margin-left: 0.5vw;
  margin-bottom: 1vw;
}
#add-micronutrient-button{
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  border: none;
  background: lightgray;
  margin: auto;
  margin-bottom: 1vw;
  margin-left: 1.5vw;
  display: block;
  float:left;
}
.micronutrient-rules-container .add-rules-container{
  width: 30%;
  height: 50vh;
  margin-right: 1.5vw;
  display:inline;
  float:left;
}

.micronutrient-rules-container .list-rules-container{
  width: 65%;
  height: 50vh;
  display:inline;
  float:left;
}

.seperator-line {
    border-left: 3px dotted wheat;
    height: 50vh;
    display:inline;
    float:left;
} 

#preference-save-button {
  text-align: center;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  width: 150px;
  border: none;
  background: lightgray;
  margin: auto;
  margin-bottom: 1vw;
  display: block;
}

#preference-restore-button {
  text-align: center;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  width: 150px;
  border: none;
  background: lightgray;
  margin: auto;
  margin-bottom: 1vw;
  display: block;
}