<!-- ..............................................................................
  history.html
  	Markup for history page of BakeOff2:
    Written by: Daniel Fong, Mark Chen, Riyya Hari Iyer
    Date Created: 10/15/2019
    Last Modified: 10/23/2019
  	 .............................................................................. -->	
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
        <title>BakeOff #2 - Meal History</title>
    </head>

    <body>
        <header>
            <div id="History" class="tabcontent">
                <h1>NutriPlan - An intelligent Nutrition Assistant</h1>
            </div>
            
            <button id="Food-tab" class="tablink" onclick="changeTab('Food', 'tomato')">Identify Food</button>
            <button id="History-tab" class="tablink" onclick="changeTab('History', 'orange')">Meal History</button>
            <button id="Track-tab" class="tablink" onclick="changeTab('Track', 'lightseagreen')">Track Nutrition</button>
            <button id="Preference-tab" class="tablink" onclick="changeTab('Preference', 'dodgerblue')">Diet Preference</button>
            <br>
        </header>

        <h2> Date: <input type="text" id="datepicker"> 
        <button type="submit" id="b_load"><i class="fa fa-search"></i></button>
        </h2>

        <div id="Breakfast" class="meal">
            <h3>Breakfast</h3>
            <table id="table_breakfast" class="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Protein</th>
                    <th>Fat</th>
                    <th>Carbohydrates</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Row 1 Data 1</td>
                    <td>Row 1 Data 2</td>
                    <td>Row 1 Data 3</td>
                    <td>Row 1 Data 4</td>
                    <th></th>
                </tr>
                <tr>
                    <td>Row 2 Data 1</td>
                    <td>Row 2 Data 2</td>
                    <td>Row 2 Data 3</td>
                    <td>Row 2 Data 4</td>
                    <th></th>
                </tr>
            </tbody>
        </table>
        </div>

        <div id="Lunch" class="meal">
            <h3>Lunch</h3>
            <table id="table_lunch" class="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Protein</th>
                    <th>Fat</th>
                    <th>Carbohydrates</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Row 1 Data 1</td>
                    <td>Row 1 Data 2</td>
                    <td>Row 1 Data 3</td>
                    <td>Row 1 Data 4</td>
                    <th></th>
                </tr>
                <tr>
                    <td>Row 2 Data 1</td>
                    <td>Row 2 Data 2</td>
                    <td>Row 2 Data 3</td>
                    <td>Row 2 Data 4</td>
                    <th></th>
                </tr>
            </tbody>
        </table>
        </div>

        <div id="Dinner" class="meal">
            <h3>Dinner</h3>
            <table id="table_dinner" class="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Protein</th>
                    <th>Fat</th>
                    <th>Carbohydrates</th>
                    <th></th>

                </tr>
            </thead>
            <!-- Placeholder Data -->
            <tbody>
                <tr>
                    <td>Row 1 Data 1</td>
                    <td>Row 1 Data 2</td>
                    <td>Row 1 Data 3</td>
                    <td>Row 1 Data 4</td>
                    <th></th>
                </tr>
                <tr>
                    <td>Row 2 Data 1</td>
                    <td>Row 2 Data 2</td>
                    <td>Row 2 Data 3</td>
                    <td>Row 2 Data 4</td>
                    <th></th>
                </tr>
            </tbody>
            </table>
        </div>

        <!-- Online library -->
        <script type="text/javascript" src="//code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
        $( function() {
          $( "#datepicker" ).datepicker();
        } );
        </script>

        <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script>
        $(document).ready( function () {
            $('table.display').DataTable({
                "columnDefs": [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button type=\"submit\" id=\"b_add_item\">Delete</i></button>",
                }],
                "searching": false,
                "paging": false,
                "info": false
            })  //Default clear the table until filled
            .clear().draw();
        });
        </script>

        <!-- Project-specific Library -->
        <script type="text/javascript" src="/static/bakeoff2.main.js"></script>
        <script type="text/javascript" src="/static/bakeoff2.history.js"></script>

    </body>
</html>
       